<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data from GIOM Meteo station</title>
</head>
<body>
<h1>Data from GIOM Meteo station</h1>


<dl>
    <dt>timestamp</dt><dd>{{ timestamp }}</dd>
    <dt>windspeed</dt><dd>{{ windspeed }}</dd>
    <dt>winddir</dt><dd>{{ winddir }}</dd>
    <dt>windgust</dt><dd>{{ windgust }}</dd>
    <dt>pressure</dt><dd>{{ pressure }}</dd>
    <dt>systemp</dt><dd>{{ systemp }}</dd>
    <dt>temperature</dt><dd>{{ temperature }}</dd>
    <dt>baraltitude</dt><dd>{{ baraltitude  }}</dd>
    <dt>windchill</dt><dd>{{ windchill }}</dd>
    <dt>relhumidity</dt><dd>{{ relhumidity }}</dd>
    <dt>abshumidity</dt><dd>{{ abshumidity }}</dd>
    <dt>dewpoint</dt><dd>{{ dewpoint }}</dd>
</dl>
</body>
</html>